<div class="main-grid">

  <mat-form-field class="markdown-input-container markdown-input">
    <textarea class="markdown-input" matInput placeholder="Markdown" [(ngModel)]="inputText" (change)="refreshViews()"></textarea>
  </mat-form-field>

  <markdown class="markdown-output-container" [data]="inputText"></markdown>

  <div class="test-graph-container">

    <button mat-mini-fab color="primary" class="export-button" (click)="export()">⬇</button>

    <button mat-mini-fab color="accent" class="fit-button" (click)="fitToView()">🖼️</button>

    <ngx-graph
    id="main-graph"
    class="chart-container"
    [links]="links"
    [nodes]="nodes"
    [legend]="false"
    [curve]="curve"
    [zoomToFit$]="zoomToFit$"
    [draggingEnabled]="true">

    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto" style="fill: #535c68;">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.boxColor" rx="15" ry="15" />
        <svg:text style="fill: #373d3f;" alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke="#535c68"
          stroke-width="2"
          marker-end="url(#arrow)" >
        </svg:path>
        <svg:text
          style="fill: #535c68;"
          class="edge-label"
          text-anchor="start">
        <textPath
          style="fill: #373d3f; font-size:10;"
          [attr.href]="'#' + link.id"
          startOffset="10%">
          {{link.label}}
        </textPath>
      </svg:text>
      </svg:g>
    </ng-template>

    </ngx-graph>
  </div>

</div>