<div class="main-grid">

  <mat-card class="input-container ubuntu-font">
    <mat-card-header>
      <mat-card-title>Markdown input</mat-card-title>
      <mat-card-subtitle>
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
          Checkout the markdown cheat sheet!
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-form-field class="input-form-field">
      <textarea (keydown)="onInputTabKeydown($event)" id="markdown-input-id" class="markdown-input" matInput [(ngModel)]="inputText" (change)="refreshView()"></textarea>
    </mat-form-field>
  </mat-card>
  

  <app-markdown-preview
    class="markdown-preview-card"
    [inputText]="inputText"
    [smallView]="true"></app-markdown-preview>

  <app-graph 
    class="graph-card" 
    [refreshGraphEvent]="refreshGraphEvent.asObservable()"
    [inputText]="inputText"
    [heightMultiplier]="0.4"
    [showOpenDialog]="true"></app-graph>

</div>