* {
  font-family: 'Ubuntu' !important;
  src: url('/assets/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf');
}

.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 99vw;
  height: 97vh;
  overflow: hidden;
}

.markdown-input-container{
  display: grid;
  grid-row: 1 /span 1;
  grid-column: 1 /span 1;
  margin-bottom: -1.25em!important;
}

.markdown-input{
  max-height: 48.5vh;
  min-height: 48.5vh;
  height: 48.5vh;
}

.markdown-output-container{
  display: grid;
  grid-row: 1 /span 1;
  grid-column: 2 /span 1;
  max-height: 48.5vh;
  min-height: 48.5vh;
  height: 48.5vh;
  overflow: auto;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 8px;
  padding: 8px;
}

.test-graph-container{
  display: grid;
  height: 42.5vh;
  grid-row: 2 /span 1;
  grid-column: 1 /span 2;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto 1fr;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 8px;
}

.export-button{
  grid-row: 1 /span 1;
  grid-column: 3 /span 1;
  margin-right: 15px;
  margin-top: 8px;
}

.fit-button{
  grid-row: 1 /span 1;
  grid-column: 2 /span 1;
  margin-right: 8px;
  margin-top: 8px;
}

.chart-container{
  grid-row: 1 /span 2;
  grid-column: 1 /span 3;
}

.graph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph .edge {
  stroke: #666;
  fill: none;
}

.graph .edge .edge-label {
  stroke: none;
  fill: #666;
}

.graph .panning-rect {
  fill: transparent;
  cursor: move;
}

.graph .node-group .node:focus {
  outline: none;
}

.graph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph .edge {
  stroke: #666;
  fill: none;
}

.graph .panning-rect {
  fill: transparent;
  cursor: move;
}

.graph .node-group .node:focus {
  outline: none;
}

.edge {
  path {
    stroke: #666 !important;
  }
}