* {
    font-family: 'Ubuntu' !important;
    src: url('/assets/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf');
 }

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 99vw;
    height: 97vh;
    overflow: hidden;
}

.markdown-input-container{
    display: grid;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

.markdown-input{
    max-height: 45vh;
    min-height: 45vh;
    height: 45vh;
}

.markdown-output-container{
    display: grid;
    grid-row: 1 /span 1;
    grid-column: 2 /span 1;
    max-height: 48.5vh;
    min-height: 48.5vh;
    height: 48.5vh;
    overflow: auto;
}

.test-graph-container{
    display: grid;
    height: 48.5vh;
    grid-row: 2 /span 1;
    grid-column: 1 /span 2;
}

.graph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph .edge {
  stroke: #666;
  fill: none;
}

.graph .edge .edge-label {
  stroke: none;
  font-size: 12px;
  fill: #666;
}

.graph .panning-rect {
  fill: transparent;
  cursor: move;
}

.graph .node-group .node:focus {
  outline: none;
}

.graph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph .edge {
  stroke: #666;
  fill: none;
}

.graph .edge .edge-label {
  stroke: none;
  font-size: 12px;
  fill: #666;
}

.graph .panning-rect {
  fill: transparent;
  cursor: move;
}

.graph .node-group .node:focus {
  outline: none;
}

.edge {
  path {
    stroke: #666 !important;
  }
}