.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  overflow: hidden;
  background-color: #FAFAFA;
  padding: 8px;
}

.input-container{
  display: grid;
  margin-right: 4px;
  grid-row: 1 /span 1;
  grid-column: 1 /span 1;
  margin-bottom: -1.25em!important;
  max-height: 40vh;
  min-height: 40vh;
  height: 40vh;

  .input-form-field{
    margin-bottom: -1.25em!important;    

    .markdown-input{
      max-height: calc(40vh - 24px - 56px);
      min-height: calc(40vh - 24px - 56px);
      height: calc(40vh - 24px - 56px);
    }  
  }
}

.markdown-output-container{
  margin-left: 4px;
  display: grid;
  grid-row: 1 /span 1;
  grid-column: 2 /span 1;
  max-height: 40vh;
  min-height: 40vh;
  height: 40vh;
  border-top: 6px solid #c7ecee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 18px!important;

  .markdown-output{
    overflow: auto;
  }
}

.graph-card{
  grid-row: 2 /span 1;
  grid-column: 1 /span 2;
  height: 40vh;
}